<div class="annotate-toggle"><i class="icon-remove"></i></div>
<div class="annotation-inner">

  <div class-"annotation-user">
  <% if current_user %>	
    <img class="annotation-avatar" src="<%= current_user.profile_image_url %>" />
    <%= text_area_tag 'annotation_field' %>
    <%= hidden_field_tag 'sentence_id', sentence_id %>
    <%= submit_tag "save", id: "submit_annotation" %>
  </div>  

<hr>

<div class"annotation-all">
	<% unless annotations.empty? %>
  	<% annotations.each do |annotation| %>
    
        <p>
          <img class="annotation-avatar" src="<%= annotation.user.profile_image_url %>"></img>
          <%= link_to annotation.user.name, user_path(current_user.id)  %>
        </p>

        <p class="annotation-content">
          <%= annotation.content %>
        </p>
    
 
    <% end %>
  <% end %>
<% end %>
</div>
</div>




