<div class="annotation">
<%= text_area_tag 'annotation_field', :placeholder => "Share a thought"%>
<%= hidden_field_tag 'sentence_id', sentence_id %>
<%= button_tag "Annotate!", id: "submit_annotation" %>

<hr>

<% unless annotations.empty? %>
  <% annotations.each do |annotation| %>

      <img class="annotation-avatar" src="<%= annotation.user.profile_image_url %>" />
      <div class="annotation-nickname"><%= annotation.user.name %></div>
      <%= annotation.content %>

  <% end %>
<% end %>

</div>