<div class="annotation-inner">

  <div class-"annotation-user">
    <img class="annotation-avatar" src="<%= annotation.user.profile_image_url %>" />
    <%= text_area_tag 'annotation_field' %>
    <%= hidden_field_tag 'sentence_id', sentence_id %>
    <%= button_tag "Annotate!", id: "submit_annotation" %>
  </div>  

<% unless annotations.empty? %>
  <% annotations.each do |annotation| %>
      <ul>
        <li>
        <p class="annotator">
          <img class="annotation-avatar" src="<%= annotation.user.profile_image_url %>" />
          <div class="annotation-nickname"><%= annotation.user.name %></div>
        </p>
        <p class="annotation-content">
          <%= annotation.content %>
        </p>
        </li>
      </ul>
    </div>

  <% end %>
<% end %>
