<!DOCTYPE html>
<html>
  <head>
    <title>Fabric</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <% if current_user %>
          <img class="cover-avatar" src="<%= current_user.profile_image_url %>"></img>
          <h3 class="cover-nickname">Hello @<%= current_user.name %></h3>
          <%= link_to "Sign out", signout_path %>
          <%#= render 'splash' %>
          <%#= link_to "Sign in with Twitter", "/auth/twitter" %>
        <% end %>
      </div> <!-- header -->
        <% if current_user.nil? %>
          <%= render 'splash' %>
        <% else %>
          <%= yield %>
        <% end %>
      </div> <!-- container -->
  </body>
</html>
